

// Font
$fontFamily--primary: 'Roboto', sans-serif;

// Font sizes
$fontSize--regular: 16px;
$fontSize--medium: 24px;

// Line height
$lineHeight--regular: 1.5;

// Colors
$color--base: #fff;
$color--background: #22202B;

// Border radius
$borderRadius--regular: 4px;

// Element sizes
$element--small: 32px;
$element--regular: 40px;
$element--big: 60px;

// Spacing
$spacing--regular: 10px;
$spacing--medium: 15px;
$spacing--large: 25px;
